PERSON_A_NAME=Daniel
PERSON_A_PHONE=+15550000001
PERSON_B_NAME=Partner
PERSON_B_PHONE=+15550000002
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=test-token
TWILIO_NUMBER=+18005550100
DRY_RUN=1
